#-
# ==========================================================================
# Copyright 1995,2006,2008 Autodesk, Inc. All rights reserved.
#
# Use of this software is subject to the terms of the Autodesk
# license agreement provided at the time of installation or download,
# or which otherwise accompanies this software in either electronic
# or hard copy form.
# ==========================================================================
#+
BEGIN_CHANNEL_INFO
UNIT DEG
X	pos_x
Y	pos_y
Z	pos_z
RX	rot1_x
RY	rot1_y
RZ	rot1_z
RX	rot2_x
RY	rot2_y
RZ	rot2_z
END_CHANNEL_INFO
